
<!-- <app-header></app-header>
<app-use></app-use>
<h1>header</h1> -->
<!-- <app-todolist >TodoList</app-todolist>
  -->
<app-product [name]="myName" [age]="myAge" [products]="products">
  
</app-product>
<!-- <div>
  <div> -->
    <!-- hinh anh -->
     <!-- <img [src]="data.avatar" [height]="500" alt="">
  </div>
  <div> -->
    <!-- thong tin -->
     <!-- <h2>Ho va ten: {{data.name}}</h2>
     <h2>Tuoi: {{data.age}}</h2>
     <h2>Gioi tinh: {{renderGender()}}</h2>
     <h2>Mo ta: {{data.description}}</h2>
     <a target="_blank" [href]="data.linkFB">Add</a> -->
  <!-- </div>
</div> -->